doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    div.block(id='#{title}').class #{description}
    block content
    <!--script alert('sdfsdfsf')-->
